<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notice.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @notice.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @notice.author %>
</p>

<h4>Comentários</h4>

<%= form_with url: notice_new_comment_path(@notice) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<ul>
  <% @notice.comments.each do |comment| %>
	<h5><%= comment.user.name %></h5>
	<li><%= comment.body %></li>
	<br>
  <% end %>
</ul>
<% if current_user.admin? %>
    <%= link_to 'Edit', edit_notice_path(@notice) %> |
<% end %>

<%= link_to 'Back', notices_path %>
