<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @user.registration %>
</p>

<p>
  <strong>Score:</strong>
  <%= @user.score %>
</p>

<% if current_user.id == @user.id %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
