<p id="notice"><%= notice %></p>


  <h4><%= @event.name %></h4>
  <strong>Descrição:</strong>
  <%= @event.desc %>
  <br>
  <strong>Data:</strong>
  <%= @event.date.strftime("%d/%m/%y às %H:%M") %>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Local:</strong>
  <%= @event.place %>

<hr>

<% if !current_user.checked_in?(@event) %>
	<%= link_to "Check-in", event_new_checkin_path(@event), method: :post %>
<% end %>

<% if current_user.admin? %>
	<%= link_to "Lista de participantes", event_list_checkins_path(@event) %>
<% end %>


<%= form_with url: event_new_comment_path(@event) do |form| %>
  <div class="field">
    <%= form.text_field :body, placeholder: "Escreva seu comentário..."%>
  </div>
  <div class="actions">
    <%= form.submit :Enviar %>
  </div>
<% end %>
<hr>

  <% @event.comments.each do |comment| %>
  <div class="card gedf-card" >
         <div class="card-header">
             <div class="d-flex justify-content-between align-items-center">
                 <div class="d-flex justify-content-between align-items-center">
                     <div class="mr-2">
                         <img class="rounded-circle" width="45" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="">
                     </div>
                     <div class="ml-2">
                         <div class="h5 m-0" align="left"><%=comment.user.name %></div>
                         <div class="h7 text-muted"><%= comment.created_at.strftime("%d/%m/%y às %H:%M") %></div>
                     </div>
                 </div>
             </div>

         </div>
         <div class="card-body">
             <p align="left" class="card-text">
                    <%= comment.body %>
                 </p>
         </div>
     </div>
     <!-- Post /////-->
  <% end %>

<% if current_user.admin? %>
	<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>

<%= link_to 'Voltar', events_path %>
