<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @event.desc %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<hr>

<% if !current_user.checked_in?(@event) %>
	<%= link_to "Check-in", event_new_checkin_path(@event), method: :post %>
<% end %>


<%= link_to "Lista de participantes", event_list_checkins_path(@event) %>

<h4>Comentários</h4>

<%= form_with url: event_new_comment_path(@event) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<ul>
  <% @event.comments.each do |comment| %>
	<h5><%= comment.user.name %></h5>
	<li><%= comment.body %></li>
	<br>
  <% end %>
</ul>

<% if current_user.admin? %>
	<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>

<%= link_to 'Back', events_path %>
